.footer {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: small;
    padding: 39px 34px 0px 34px;
    width: 100%;
    border: 2px solid black;
}
.social-media a {
    margin: 12px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.footer-links a {
    margin: 12px;
    text-decoration: none;
    color: black;
}
.footer p {
    color: rgb(143, 139, 139);
}
